@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Sacramento&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  margin: 2% 0 3% 0;
}

.title {
  font-family: "Sacramento", cursive;
  text-align: center;
  font-size: 12rem;
}
